.poste {
    margin: auto;
    width: 10px;
    height: 200px;
    background-color: black;
}

.traffic-light {
    background-color: black;
    margin:auto;
    width: 100px;
    height: 295px;  
    position: relative;
    border-radius: 20px;
}

.light-red {
    background-color: red;
    position: absolute;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    margin-top: 5px;
    margin-left: 5px;   
}

.light-yellow {
    background-color: yellow;
    position: absolute;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    margin-top: 100px;
    margin-left: 5px;
    
}

.light-green {
    background-color: green;
    position: absolute;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    margin-top: 195px;
    margin-left: 5px;
}

.light-red.active{
    box-shadow: 0 0 20px white;
}

.light-yellow.active{
    box-shadow: 0 0 20px white;
}

.light-green.active{
    box-shadow: 0 0 20px white;
}

